#banner {
    background-image: url(https://images.pexels.com/photos/9726802/pexels-photo-9726802.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
}

#gmap {
    height: 60vh;
    width: 100%;
}

#icon {
    font-size: 2rem;
    color: white;
}